<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <thead>
        <tr>
            <th> User </th>
            <th> Password </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td><span th:text="${user.name}"> User </span></td>
            <td><span th:text="${user.password}"> Password </span></td>

        </tr>
        </tbody>
    </table>

</body>
</html>